# Build and Release Folders
bin-debug/
bin-release/
node_modules/
coverage/
logs/
npm-debug.log*

# Python
pyenv/
__pycache__/
*.py[cod]
*$py.class

# config
config/default.json
config/production.json
config/development.json

# Other files and folders
.settings/
.tmp/

# System files
.DS_Store
